button.snu {
  min-width: 64px;
  overflow: hidden;
  background-color: transparent;
  color: var(--textColor);
  font-family: var(--fontFamily);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 12px;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: background-color 400ms;
}

button.snu:hover {
  background-color: var(--backgroundColorAlt);
}

button.snu > span.ripple {
  position: absolute;
  background-color: var(--gray300);
  /* Make ripples circular: */
  border-radius: 50%;
  /* Ensure that each ripple emerges from a point: */
  transform: scale(0);
  animation: ripple 600ms linear;
  /* top, left, width, and height are set from code. */
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}

button.snu.primary {
  background-color: var(--primaryColor400);
  color: var(--textColorOnPrimary);
  box-shadow: var(--boxShadow1);
}

button.snu.primary:hover {
  background-color: var(--primaryColor500);
}

button.snu.primary > span.ripple {
  background-color: var(--primaryColor300);
}

button.snu.secondary {
  background-color: var(--secondaryColor400);
  color: var(--textColorOnSecondary);
  box-shadow: var(--boxShadow1);
}

button.snu.secondary:hover {
  background-color: var(--secondaryColor500);
}

button.snu.secondary > span.ripple {
  background-color: var(--secondaryColor300);
}
